Source: libmogilefs-server-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-1), libgearman-client-perl (>= 1.07), gearman-server (>= 1.08), libsys-syscall-perl (>= 0.22), libnet-netmask-perl, libdanga-socket-perl (>= 1.56), libgearman-client-async-perl (>= 0.93), libperlbal-perl(>= 1.79), libperlbal-xs-httpheaders-perl, libnet-patricia-perl, libdbi-perl, libdbd-mysql-perl, libio-aio-perl, libmogilefs-client-perl, libio-stringy-perl
Maintainer: Dave Lambley <davel@state51.co.uk>
Standards-Version: 3.7.2
Homepage: http://search.cpan.org/dist/MogileFS-Server/

Package: libmogilefs-server-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libgearman-client-perl (>= 1.07), gearman-server (>= 1.08), libsys-syscall-perl (>= 0.22), libnet-netmask-perl, libdanga-socket-perl (>= 1.56), libgearman-client-async-perl (>= 0.93), libperlbal-perl (>= 1.79), libperlbal-xs-httpheaders-perl, libnet-patricia-perl, libdbi-perl, libdbd-mysql-perl, libio-aio-perl, sysstat
Description: MogileFS (distributed filesystem) server.
 MogileFS (distributed filesystem) server.
 .
 This description was automagically extracted from the module by dh-make-perl.
